<h2><%= @hiker.username %>'s Hiking Profile</h2>
<h3><%= @hiker.trails.size %> Trail(s) Hiked</h3>
<br>

<% @hiker.trails.each do |trail| %>
  <ul>
    <li><a href="/trails/<%= trail.slug %>"><%= trail.name %></a></li>
  </ul>
<% end %>
<br><br>
<div class="flex-container">
  <form action="/trails/new">
    <input type="submit" value="Add Trail">
  </form>
  <br>
  <form method="post" action="/hikers/<%= @hiker.slug %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Account">
  </form>
</div>

<!--Wish List: Have a user be able to add a list of hikes they would like to go on-->
