<h1>Add a Trail to your Profile</h1>
<br><br>
<form method="POST" action="/trails">
  <div class="existingTrails">
    <h2>Select from Existing Trails:</h2>
    <br>
    <% Trail.all.each do |trail| %>
      <input type="checkbox" name="trail_id" value="<%= trail.id %>"> <%= trail.name %></input>
    <% end %>
  <br><br>
  </div>
  <br><br>
  <h2>Or Add a New Trail:</h2>
  <br>
  <label for="name">Trail Name: </label>
  <input type="text" id="name" name="trail[name]">
  <br><br>
  <label for="length">Trail Length: </label>
  <input type="text" id="length" name="trail[length]" placeholder="13.5"> 
  <em>miles</em>
  <br><br>
  <textarea id="highlights" name="trail[highlights]" rows="10" columns="30" placeholder="Trail Highlights"></textarea>
  <br><br>
  <fieldset>
    <legend>Select Region or Create New</legend>
    <br>
    <% Region.all.each do |region| %>
      <input type="radio" name="trail[region_id]" value="<%= region.id %>"> <%= region.name %></input>
    <% end %>
    <br><br>
    <input type="radio"> Or Add a </input>
    <label for="region_name">New Region: </label>
    <input type="text" id="region_name" name="region[name]" >
    <br><br>
  </fieldset>
  <br>
  <input type="submit" value="Add New Trail">
</form>
<form action="/trails">
  <input type="submit" value="Cancel">
  <% if !!flash[:trail_error] %><em><h3><%= flash[:trail_error] %></h3></em> <% end %>
</form>

